<html>
    <head>
        <title>This is the about page</title>
    </head>
    
    <div>
        <nav><%= link_to 'Home', root_path%></nav>
        <h1>About Us</h1>
        <p>Not a lot to say about us right now...</p>
    </div>
    
    
</html>