<html>
    <head>
        <title>This is the homepage</title>
    </head>
    
    <nav><%= link_to 'About Us', about_path%> | <%= link_to 'Alpha Blog', articles_path%></nav>
    
    <div>
        <h1>Welcome Home</h1>
        <p>This is the homepage</p>
    </div>
    
    <div>
        <h3>Check out some lit tracks</h3>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/211573924&amp;color=%230c1410&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    </div>
</html>